__pycache__
data/*.json
data/csvs/*
api/*json*
api/data/.fda.json.icloud
testing.ipynb
.ipynb_checkpoints/
.VSCodeCounter
data/trials.db
data/trials.db-journal
dedupe_dataframe_learned_settings
dedupe_dataframe_training.json